{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans 'Leaderboard' %} - {{ competition.title }} | Ratio{% endblock %}

{% block content %}
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25">
            <div class="toast ml-auto" role="alert" data-delay="2500" data-autohide="true">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">Ratio</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {% trans 'You must be logged in to join a competition!' %}
                </div>
            </div>
        </div>
    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ competition.title }} - {% trans 'Leaderboard' %}</h1>
            <p class="card-text">{{ competition.tag }}</p>

            <div class="btn-group">
                {% if competition.has_started and not competition.has_ended and has_joined %}
                    <a href="{% url 'competition:answer' pk=competition.id %}">
                        <button type="button"
                                class="btn btn-sm btn-outline-info mr-1">{% trans 'Answer' %}</button>
                    </a>
                {% endif %}
                {% if competition.has_started %}
                    <a href="{% url "competition:questions" pk=competition.id %}">
                        <button type="button"
                                class="btn btn-sm btn-outline-warning mr-1">{% trans 'Questions' %}</button>
                    </a>
                {% endif %}
                {% if competition.can_join_when_started and not competition.has_ended %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url "competition:join_competition" pk=competition.id %}">
                            <button type="button"
                                    class="btn btn-sm btn-outline-primary mr-1">{% trans 'Join' %}</button>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-sm btn-outline-primary mr-1"
                                onclick="$('.toast').toast('show')">{% trans 'Join' %}</button>
                    {% endif %}
                {% endif %}
                <a href="{% url "competition:competition_description" pk=competition.id %}">
                    <button type="button"
                            class="btn btn-sm btn-outline-success mr-1">{% trans 'Description' %}</button>
                </a>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">
                        {% trans 'Rank' %}
                    </th>
                    <th scope="col">
                        {% trans 'Name' %}
                    </th>
                    <th scope="col">
                        {% trans 'Total points' %}
                    </th>
                    {% for question in questions %}
                        <th scope="col">
                            {{ forloop.counter }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="leaderboard_body">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        Array.prototype.sum = function () {
            return (!this.length) ? 0 : this.slice(1).sum() +
                ((typeof this[0] == 'number') ? this[0] : 0);
        };

        function leaderboard_sort(obj) {
            var sortable = [];

            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {
                    sortable.push([key, obj[key]]);
                }
            }

            sortable.sort(function (a, b) {
                return -1 * (a[1].sum() - b[1].sum());
            });

            return sortable;
        }

        function leaderboard_api_request() {
            var xmlhttp = new XMLHttpRequest();
            var url = "{% url "competition:api_leaderboard" pk=competition.id %}";

            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var result = JSON.parse(this.responseText);

                    if (result['ok']) {
                        leaderboard_parse(result['result']);
                    }
                }
            };

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        function leaderboard_parse(leaderboard) {
            var out = "";
            var i = 1;

            leaderboard = leaderboard_sort(leaderboard);

            for (var key in leaderboard) {
                if (leaderboard.hasOwnProperty(key)) {
                    out += "<tr><td>#" + i + "</td><td>" + leaderboard[key][0] + "</td><td>" + leaderboard[key][1].sum() + "</td>";

                    for (var index = 0; index < leaderboard[key][1].length; index++) {
                        out += "<td>" + leaderboard[key][1][index] + "</td>";
                    }

                    out += "</tr>";

                    i++;
                }
            }

            document.getElementById("leaderboard_body").innerHTML = out;
        }

        function leaderboard_loop() {
            setTimeout(function () {
                leaderboard_api_request();
                leaderboard_loop();
            }, 10000);
        }

        leaderboard_api_request();

        {% if not competition.has_ended and competition.has_started %}
            leaderboard_loop();
        {% endif %}
    </script>
{% endblock %}