{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans 'Competitions' %} | Ratio{% endblock %}

{% block content %}
    <main role="main">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25">
                <div class="toast ml-auto" role="alert" data-delay="2500" data-autohide="true">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">Ratio</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        {% trans 'You must be logged in to join a competition!' %}
                    </div>
                </div>
            </div>
        </div>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{% trans 'Competitions' %}</h1>
                <p class="lead text-muted">{% trans 'Fight other mathematicians & let them know who is the coolest mathematician in the the world.' %}</p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for competition in competitions %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h1>{{ competition.title }}</h1>
                                    <p class="card-text">{{ competition.tag }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            {% if competition.has_started %}
                                                <a href="{% url "competition:watch_competition" pk=competition.id %}">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger mr-1">{% trans 'Watch it!' %}</button>
                                                </a>
                                            {% endif %}
                                            {% if competition.can_join_when_started and not competition.has_ended %}
                                                {% if request.user.is_authenticated %}
                                                    <a href="{% url "competition:join_competition" pk=competition.id %}">
                                                        <button type="button"
                                                                class="btn btn-sm btn-outline-primary mr-1">{% trans 'Join' %}</button>
                                                    </a>
                                                {% else %}
                                                    <button type="button" class="btn btn-sm btn-outline-primary mr-1"
                                                            onclick="$('.toast').toast('show')">{% trans 'Join' %}</button>
                                                {% endif %}
                                            {% endif %}
                                            <a href="{% url "competition:competition_description" pk=competition.id %}">
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-success mr-1">{% trans 'Description' %}</button>
                                            </a>
                                        </div>
                                        {% if not competition.has_started %}
                                            <small class="text-muted">{% trans 'Starts on' %} {{ competition.start|date:"SHORT_DATE_FORMAT" }}</small>
                                        {% elif competition.has_ended %}
                                            <small class="text-muted">{% trans 'Ended on' %} {{ competition.end|date:"SHORT_DATE_FORMAT" }}</small>
                                        {% else %}
                                            <small class="text-muted">{% trans 'Started on' %} {{ competition.start|date:"SHORT_DATE_FORMAT" }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if competitions.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="{% url "competition:competitions" page=competitions.previous_page_number %}">{% trans 'Next page' %}</a>
                </li>
            {% endif %}
            {% if competitions.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="{% url "competition:competitions" page=competitions.next_page_number %}">{% trans 'Previous page' %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}